body{
    padding:0 0 0 0;
    //background:#FFF;
    background:#FAF9F4;
background-image: url(../img/striped_lens.png); background-position: initial initial; background-repeat: initial initial; 
}
.text-center{
    text-align: center;
}
.the-question-wrap{
    height:40px;
    .the-question{
        font-style: italic;
        font-size: 17px;
        color: #999;
        font-weight: 300;
        margin: 10px;
    }
}
#block_container{
    margin:0 0 30px 0;
}
.page-item{
    text-align:center;
    float:left;
    width:300px;
    margin:10px;
    min-height:200px;
    border-radius: 3px;
    background:#FFF;
    box-shadow:0px 0px 4px #CCC;
    &.instagram-type, &.vine-type, &.foursquare-type{
        .item-image{
            cursor: pointer;
        }
    }
    .icon-wrapper{
        border-radius: 3px;
        padding: 3px;
        background: rgba(0, 0, 0, .3);
        position: absolute;
        top: 6px;
        right: 6px;
        width: 47px;
        &.sm-wrap{
            width: 26px;
        }
        .profile-link{
            float:right;
            margin:0 6px 0 0;
        }
        .item-link{
            float:right;
            margin:0 6px 0 0;
        }
    }
    .item-image{
    
        text-align: left;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
        background: #CCC;
        min-height: 100px;
        max-height: 200px;
        border: 1px solid #EEE;
    
    }
    .item-icon{
        position:relative;
        top:-37px;
        background: transparent;
        width:50px;
        height:50px;
        margin:0px 125px -34px 125px;
        img{
            box-shadow:0px 0px 10px #333;
            border-radius:5px;
        }
    }
    .item-headline{
        margin:10px 10px; 
        p{
            word-wrap: break-word;
            font-size:18px;
            font-weight:400;
            font-family:'Merriweather', serif;    
            color:#333;
            line-height: 25px;
        }
    }
    .item-copy{
        margin:10px 10px; 
        p{
            font-weight:300px;
            color:#333;
        }
    }
    .item-feed{
        margin:10px 10px; 
        ul{
            margin:0;
            padding:0;
            li{
                list-style-type: none;
                color:#666;
                font-style:italic;
            }
        }
        p{
            font-weight:300px;
            color:#333;
        }
    }
    .item-meta{
        margin:10px 0 10px 0;
        p{
            font-weight:300px;
            color:#999;
            font-size:12px;
        }
    }
    &.about-type{
        text-align:left;
        .item-meta{
            margin: 0 10px;
        }
        .sep{
            margin:16px 10px 11px 10px;
        }
        .item-image{
            margin:10px 0px 0 10px;
            background: #FFF;
            border: none;
            float:left;
            border-radius:0px;
            min-height:80px;
            img{
                border-radius: 5px;
            }
        }
        .about-type-header{
            .item-headline p{
                margin:0;
            }
            p.position{
                line-height: 21px;
                color: #666;
                font-size: 15px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            float:left;
            width:198px;
        }
    }
    &.social-card-type{
        padding: 20px 0 20px 0;
        a{
            display: block;
        }
        .item-headline{
            margin: 10px 10px 20px 10px;
        }
        .row-fluid{
            padding:0 0 10px 0;
            width:250px;
            margin: 0 auto;
        }
        img{
            border-radius:5px;
        }
    }
    &.email-type{
        padding:20px;
        width:260px;
        text-align:left;
        .contact-links{
            p{
                margin: 0 0 5px 0;
            }
        }
        form{
            margin:0;
        }
    }
}

.fluid-header{
    border-bottom: 5px solid #EEE;
    padding:10px 0 5px 0;
    color: #666;
    background: #FFF; /* Old browsers */
    box-shadow: 0px 0px 7px #999;
    p.lead{
        font-family:'Merriweather', serif;
        margin:0;
        line-height: 23px;
    }
    p{
        margin:0;
        font-weight:300;
    }
    .main-nav{
        ul.unstyled{
            margin: 23px 0 0 0;
            > li{
                margin: 0 0 0 15px;
                float:left;
                a.top-level{
                    font-weight:300;
                    color:#999;
                    font-size:15px;
                    &:hover{
                        text-decoration:none;
                        color:#666;
                    }
                    &.active{
                        color:#666;
                    }
                    b.caret{
                        margin:10px 0 0 0;
                        opacity:.5;
                    }
                
                }
                .dropdown-menu{
                    margin:-2px 0 0 0;
                    li{
                        a{
                            color:#666;
                            &:hover, &:active, &:visited, &:focus{
                                color:#FFF;
                            }
                        }
                    }
                }
            }
        }
    }
}


li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

a.menu:after, .dropdown-toggle:after {
  content: none;
}



.fluid-content{
    padding:10px 0 0 0;
}

.content-wrapper{
    margin:0 0 0 0;
    .sub-lead{
        margin:0 0 5px 0;
        color: #999;
    }
}
ol{
    margin:0;
    list-style-type:none;
}
.sep{
    padding: 0 0 0 0;
    margin: 20px 0 20px 0;
    border-bottom: 1px solid #CCC;
    font-weight: 300;
    font-size: 16px;
}
.ybh{
    display:none;
}
.ybf{
    display:none !important;
}
.ybr{
    height:760px !important;
}
.tumblr_post{
    margin:30px 0 0 0;
}
.tumblr_title{
    margin: 0 0 10px;
    font-weight: 300;
    font-size: 22px;
}
#content_column{
    .lead{
        a{
            font-size:14px;
        }
    }
}
.pipesThumbnail{
    margin-left: 10px;
}
.pipesText{
    float:left;
    width:785px;
}
#tumblr_wrapper{
    img{
        margin-bottom:10px;
        border: 1px solid #EEE;
        background: white;
        padding: 5px;
    }
}
.modal-body{
    max-height:none;
    .map-container{
        img{
            max-width: none;
        }
    }
}
#generic_modal{
    margin-top:0px;
    top:10px;
    p.lead{
        margin:0;
    }
}

